<body>

  <head>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>  
  <div class="form">
     <form class="register-form">
       <input type="text" placeholder="Nome"/>
       <input id="username" type="text" placeholder="Username"/>
       <input type="password" placeholder="Senha"/>
       <input type="email" placeholder="E-mail"/> <br>
       <button>CRIAR</button>
      <p class="message"> Já é registrado? <a href="#">Clique aqui</a></p>
    </form>
  </div>
</body>
