@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(90deg, #f4ddec, #f1f7f3, #c4c4c4, #f2f2f2);
    }

.form {
  background: white;
  width: 300px;
  height: 300px;
  max-width: ;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
  padding: 10px;
}

.form input {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  width: 258px;
  height: 35px;
  border: 0;
  margin: 5px;
  padding: 8px;
  font-size: 15px;
  text-align: left;
} 

.form input:nth-child(1) {
  margin-top: 3px;
}

.form #username {
  width: 258px;
  background-color: #c4c4c4;
}

.form button {
  font-family: 'Roboto', sans-serif;
  text-transform: ;
  background-color: #9900FF;
  width: 258px;
  height: 45px;
  border: 0;
  padding: ;
  color: white;
  font-size: 15px;
  cursor: ;
  margin: 3.8px;
}